*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: black;
}

.arrow{
  width: 10%;
  display: inline-block;
  padding: 20px;
}

.content{
  width: 89%;
  display: inline-block;
  padding: 20px;
}

.restaurant-list {
  padding-top: 50px;
  width: 100%;
  background-color: #aaa;
}

.location{
  border-bottom: 1px solid #3333336e;
}

.location:hover{
  color: #b4b2b4
}

h1{
  line-height: 100%;
  font-size: 18px;
  font-weight: bold;
}

h3{
  line-height: normal;
  font-size: 14px;
  font-weight: normal;
}
